@{
    ViewBag.Title = "Home Page";
}
<style>
    .hero-image {
  background-image: url(/Content/Home/image/bgMenu2.png);
  background-color: #ffffff;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
        .hero-image2 {
  background-image: url(/Content/Home/image/saguraBG2.png);
  background-color: #ffffff;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
                .hero-image3 {
  background-image: url(/Content/Home/image/F_Maps.png);
  background-color: #cccccc;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
        .card {
   background-color: #938c8d20;
   padding: 1em;
   margin-top: 1em;
   font-size:1vw;
  
}
        .fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 100px;

}
        .max{
            max-height: 9em ;
            overflow:auto;
        }
</style>
    <div >
        <img src="~/Content/Home/image/home.png" width="100%" />
    </div>



        <div class="hero-image">
        
            <br>
            <br>
            <center>  <img src="~/Content/Home/image/font_menu.png" width="80%" /> </center>
           
            <table align="center" style="width:80%;  " >
                <tr>
                    <th> <img src="~/Content/Home/image/f3_1.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_2.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_3.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_4.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_5.png" width="80%" /> </th>
                </tr>
                <tr>
                    <td align="center" style=" font-size 20px ; color:#ec808d; font-size:2vw;"> ซูชิปลาแซลมอน </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d; font-size:2vw;"> ซูชิมากุโระ </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d; font-size:2vw;"> แซลมอนซาชิมิ  </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d; font-size:2vw;"> ซูชิมากิ </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d; font-size:2vw;"> ซูชิไข่ปลาแซลมอน </td>
                </tr>
                <tr>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white; font-size:2vw;""> ราคา 90.- </td>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white; font-size:2vw;""> ราคา 90.- </td>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white; font-size:2vw;""> ราคา 299.- </td>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white; font-size:2vw;""> ราคา 75.- </td>
                    <td align="center" style=" padding:10px; margin:10px; background-color:black; border-radius:10px; font-size 40px ; color:white; font-size:2vw;""> ราคา 85.- </td>
                </tr>
            </table>
            <br>
            <br>
            </div>

            <div class="hero-image2">
                <br>
 
    <center>  <img src="/Content/Home/image/Promotion.png" style="width:80%;" /> </center>
  
        <div class="w3-container w3-cell" style="width:20%;">
            <div class="rightcolumn">
                <div class="card">
                    <a href="Promotion1"><img  src="~/Content/images/FoodAndDrink/จานเดียว/f1_1.png" style="width:100%;"/></a>
                    <div class="max">
                        <font size="4"style="font-size:1vw;"><b><p>ข้าวหน้าหมู ยอดฮิต</p></b></font>
                        <p>ข้าวหน้าหมูเมนูแนะนำของทางร้าน เป็นเมนูที่ได้รับความนิยมมากที่สุดในอาหารประเภทจานเดียว</p>
                        </div>
</div>

            </div>
        </div>
        <div class="w3-container w3-cell" style="width:20%;">
            <div class="rightcolumn">
                <div class="card">
                   
                    <a href="Promotion2"><img  src="~/Content/images/FoodAndDrink/จานเดียว/f1_2.png" style="width:100%;"/></a>
                    <div class="max">
                        <font size="4" style="font-size:1vw;"><b><p>ข้าวหมูแกงกะหรี่ชีส</p></b></font>
                        <p>เอาใจคนรักชีส กับเมนูข้าวแกงกะหรี่หมูที่เพิ่มชีสเน้นๆสำหรับคนรักชีสเข้าไปในเมนูอีกด้วย </p>
                    </div>
                    </div>

            </div>
        </div>
        <div class="w3-container w3-cell" style="width:20%;">
            <div class="rightcolumn">
                <div class="card">
                    
                    <a href="Promotion3"><img src="~/Content/images/FoodAndDrink/จานเดียว/f1_3.png" style="width:100%;" /></a>
                    <div class="max">
                        <font size="4" style="font-size:1vw;"><b><p>หมูผัดกิมจิ</p></b></font>
                        <p>โปรโมชั่นสุดพิเศษ สั่งข้าวหน้าหมูผัดกิมจิวันนี้ได้ในราคา 250 บาท สำหรับลูกค้าที่สั่งเมนูในแอพพลิเคชั่นเท่านั้น </p>
                    </div>
                    </div>
            </div>
        </div>
        <div class="w3-container w3-cell" style="width:20%;">
            <div class="rightcolumn">
                <div class="card">

                    <a href="Promotion4"> <img src="~/Content/images/FoodAndDrink/จานเดียว/f1_4.png" style="width:100%;"/></a>
                    <div class="max">
                        <font size="4" style="font-size:1vw;"><b><p>ข้าวหน้าหมูซอสโชยุ</p></b></font>
                        <p>โปรโมชั่นสำหรับคนรักข้าวหน้าหมู ลด 10% เพียงสั่งเมนูอาหารภายในร้านครบ 1000บาทก็สามารถได้รับประทานข้าวหมูซอสโซยุในราคา 233บาทแล้ว</p>
                    </div>
                    </div>
            </div>
        </div>
        <div class="w3-container w3-cell" style="width:20% " >
            <div class="rightcolumn">
                <div class="card">
                    
                    <a href ="Promotion5"><img src="~/Content/images/FoodAndDrink/จานเดียว/f1_5.png" style="width:100%;"/>  </a>
                    <div class="max">
                        <font size="4" style="font-size:1vw;"><b><p>ข้าวหน้าปลาไหล</p></b></font>
                        <p> อิ่มอร่อยได้เพียง1จานไปกับข้าวหน้าปลาไหล อาหารที่ได้รับความนิยมในประเทศญี่ปุ่นและเป็นอาหารที่ได้รับประโยชน์ละสารอาหารมากมาย</p>
                    </div>
                    </div>
                
            </div>
        </div>
    </div>
            
                    <br>
                    
          


<div class="hero-image3">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <center>  <img src="~/Content/Home/image/logoMaps.png" width="80%" /> </center>
    <br>

<div id="map" style="width:100%;height:400px;"></div>
    </div>
<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(51.5, -0.2), zoom: 10
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->




