@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<style>
    .hero-image {
  background-image: url(/Content/Home/image/Food_intro.png);
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
        .hero-image2 {
  background-image: url(/Content/Home/image/sagura2.png);
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
                .hero-image3 {
  background-image: url(/Content/Home/image/F_Maps.png);
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
        .card {
   background-color: #938c8d20;
   padding: 20px;
   margin-top: 20px;
}
        .fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 100px;
}
</style>
    <div>
        <img src="~/Content/Home/image/home.png" />
    </div>



        <div class="hero-image">
        

            <center>  <img src="~/Content/Home/image/font_menu.png" width="80%" /> </center>
           
            <table align="center" style="width:80%" >
                <tr>
                    <th> <img src="~/Content/Home/image/f3_1.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_2.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_3.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_4.png" width="80%" /> </th>
                    <th> <img src="~/Content/Home/image/f3_5.png" width="80%" /> </th>
                </tr>
                <tr>
                    <td align="center" style=" font-size 20px ; color:#ec808d"> ซูชิปลาแซลมอน </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d"> ซูชิมากุโระ </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d"> แซลมอนซาชิมิ  </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d"> ซูชิมากิ </td>
                    <td align="center" style=" font-size 20px ; color:#ec808d"> ซูชิไข่ปลาแซลมอน </td>
                </tr>
                <tr>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white"> ราคา 90.- </td>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white"> ราคา 90.- </td>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white"> ราคา 299.- </td>
                    <td align="center" style=" background-color:black; border-radius:10px; font-size 60px ; color:white"> ราคา 75.- </td>
                    <td align="center" style=" padding:10px; margin:10px; background-color:black; border-radius:10px; font-size 40px ; color:white"> ราคา 85.- </td>
                </tr>
            </table>
        </body>
                <body style="background-image: url("~/Content/Home/image/Pro.png"); background-repeat:repeat-y ;>
                    <center>  <img src="~/Content/Home/image/font_pro.png" width="80%" /> </center>
                    <table align="center" style="width:80%">
                        <tr>
                            <th> <img src="~/Content/Home/image/f1_1.png" width="80%" /> </th>
                            <th> <img src="~/Content/Home/image/f1_2.png" width="80%" /> </th>
                            <th> <img src="~/Content/Home/image/f1_3.png" width="80%" /> </th>
                            <th> <img src="~/Content/Home/image/f1_4.png" width="80%" /> </th>
                            <th> <img src="~/Content/Home/image/f1_5.png" width="80%" /> </th>
                        </tr>
                        <tr>
                            <td align="center" style=" font-size 20px ; color:black"> ข้าวหน้าหมู </td>
                            <td align="center" style=" font-size 20px ; color:black"> ข้าวหมูแกงกะหรี่ชีส </td>
                            <td align="center" style=" font-size 20px ; color:black"> หมูผัดกิมจิ  </td>
                            <td align="center" style=" font-size 20px ; color:black"> ข้าวหน้าหมูซอสโชยุ </td>
                            <td align="center" style=" font-size 20px ; color:black"> ข้าวหน้าปลาไหล </td>
                        </tr>
                        <tr>
                            <td align="center" style=" font-size 20px ; color:black"> ข้าวหน้าหมูเมนูแนะนำของทางร้าน เป็นเมนูที่ได้รับความนิยมมากที่สุดในอาหารประเภทจานเดียว </td>
                            <td align="center" style=" font-size 20px ; color:black"> เอาใจคนรักชีส กับเมนูข้าวแกงกะหรี่หมูที่เพิ่มชีสเน้นๆสำหรับคนรักชีสเข้าไปในเมนูอีกด้วย </td>
                            <td align="center" style=" font-size 20px ; color:black"> โปรโมชั่นสุดพิเศษ สั่งข้าวหน้าหมูผัดกิมจิวันนี้ได้ในราคา 250 บาท สำหรับลูกค้าที่สั่งเมนูในแอพพลิเคชั่นเท่านั้น  </td>
                            <td align="center" style=" font-size 20px ; color:black"> โปรโมชั่นสำหรับคนรักข้าวหน้าหมู ลด 10% เพียงสั่งเมนูอาหารภายในร้านครบ 1000บาทก็สามารถได้รับประทานข้าวหมูซอสโซยุในราคา 233บาทแล้ว </td>
                            <td align="center" style=" font-size 20px ; color:black"> อิ่มอร่อยได้เพียง1จานไปกับข้าวหน้าปลาไหล อาหารที่ได้รับความนิยมในประเทศญี่ปุ่นและเป็นอาหารที่ได้รับประโยชน์ละสารอาหารมากมาย </td>
                        </tr>
                    </table>
                </body>
</div>
