@{
    ViewBag.Title = "Home Page";
}

    <div>
        <img src="~/Content/Home/image/home.png" />
    </div>

    <div>
        <body style="background-repeat:space ;" src="~/Content/Home/image/Food_intro.png" width="100%" height="100%">
            <h1 align="center" style= "color:black">เมนูแนะนำ</h1>
            <table align="center" style="width:80%">
                <tr>
                    <th> <img src="~/Content/Home/image/f3_1.png" width="80%"  /> </th>
                    <th> <img src="~/Content/Home/image/f3_2.png" width="80%"  /> </th>
                    <th> <img src="~/Content/Home/image/f3_3.png" width="80%"  /> </th>
                    <th> <img src="~/Content/Home/image/f3_4.png" width="80%"  /> </th>
                    <th> <img src="~/Content/Home/image/f3_5.png" width="80%"  /> </th>
                </tr>
                <tr>
                    <td style=" font-size: 20px ; color:#ec808d"> ซูชิปลาแซลมอน </td>
                    <td style=" font-size: 20px ; color:#ec808d"> ซูชิมากุโระ </td>
                    <td style=" font-size: 20px ; color:#ec808d"> แซลมอนซาชิมิ  </td>
                    <td> ซูชิมากิ </td>
                    <td> ซูชิไข่ปลาแซลมอน </td>
                </tr>
            </table>

        </body>
</div>
