
@{
    ViewBag.Title = "Promotion2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-repeat:space ;" background="~/Content/Home/image/Pro.png" width="100%">

    <center> <Lable style=" font-size :30px ; color:black;"> Promotion 2  </Lable> </center>

    <table align="center" style="width:80%">

        <tr>
            <center> <img src="~/Content/Home/image/f1_2.png" width="20%" /> </center>
        </tr>

        <tr>
            <td align="center" style=" font-size :30px ; color:black"> ข้าวหมูแกงกะหรี่ชีส </td>
        </tr>

        <tr>
            <td align="center" style=" font-size :30px ; color:black"> เอาใจคนรักชีส กับเมนูข้าวแกงกะหรี่หมูที่เพิ่มชีสเน้นๆสำหรับคนรักชีสเข้าไปในเมนูอีกด้วย </td>
        </tr>

    </table>
</body>

