
@{
    ViewBag.Title = "Promotion1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-repeat:space ;" background="~/Content/Home/image/Pro.png" width="100%">

    <center> <Lable style=" font-size :30px ; color:black;"> Promotion 1  </Lable> </center>
   
    <table align="center" style="width:80%">

         <tr>
            <center> <img src="~/Content/Home/image/f1_1.png" width="20%" /> </center>
        </tr>

        <tr>
            <td align="center" style=" font-size :30px ; color:black"> ข้าวหน้าหมู </td>
        </tr>

        <tr>
            <td align="center" style=" font-size :30px ; color:black"> ข้าวหน้าหมูเมนูแนะนำของทางร้าน เป็นเมนูที่ได้รับความนิยมมากที่สุดในอาหารประเภทจานเดียว </td>
        </tr>

        </table>
</body>

