
@{
    ViewBag.Title = "Promotion4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-repeat:space ;" background="~/Content/Home/image/Pro.png" width="100%">

    <center> <Lable style=" font-size : 30px ; color:black;"> Promotion 4  </Lable> </center>

    <table align="center" style="width:80%">

        <tr>
            <center> <img src="~/Content/Home/image/f1_4.png" width="20%" /> </center>
        </tr>

        <tr>
            <td align="center" style=" font-size : 30px ; color:black"> ข้าวหน้าหมูซอสโชยุ </td>
        </tr>

        <tr>
            <td align="center" style=" font-size : 20px ; color:black"> โปรโมชั่นสำหรับคนรักข้าวหน้าหมู ลด 10% เพียงสั่งเมนูอาหารภายในร้านครบ 1000บาทก็สามารถได้รับประทานข้าวหมูซอสโซยุในราคา 233บาทแล้ว </td>
        </tr>

    </table>
</body>
