
@{
    ViewBag.Title = "Promotion3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-repeat:space ;" background="~/Content/Home/image/Pro.png" width="100%">

    <center> <Lable style=" font-size : 30px ; color:black;"> Promotion 3  </Lable> </center>

    <table align="center" style="width:80%">

        <tr>
            <center> <img src="~/Content/Home/image/f1_3.png" width="20%" /> </center>
        </tr>

        <tr>
            <td align="center" style=" font-size : 30px ; color:black"> หมูผัดกิมจิ </td>
        </tr>

        <tr>
            <td align="center" style=" font-size : 20px ; color:black"> โปรโมชั่นสุดพิเศษ สั่งข้าวหน้าหมูผัดกิมจิวันนี้ได้ในราคา 250 บาท สำหรับลูกค้าที่สั่งเมนูในแอพพลิเคชั่นเท่านั้น </td>
        </tr>

    </table>
</body>

