
@{
    ViewBag.Title = "Promotion5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-repeat:space ;" background="~/Content/Home/image/Pro.png" width="100%">

    <center> <Lable style=" font-size
                    :30px ; color:black;"> Promotion 5  </Lable> </center>

    <table align="center" style="width:80%">

        <tr>
            <center> <img src="~/Content/Home/image/f1_5.png" width="20%" /> </center>
        </tr>

        <tr>
            <td align="center" style=" font-size
                :30px ; color:black"> ข้าวหน้าปลาไหล </td>
        </tr>

        <tr>
            <td align="center" style=" font-size
                :20px ; color:black"> อิ่มอร่อยได้เพียง1จานไปกับข้าวหน้าปลาไหล อาหารที่ได้รับความนิยมในประเทศญี่ปุ่นและเป็นอาหารที่ได้รับประโยชน์ละสารอาหารมากมาย </td>
        </tr>

    </table>
</body>


