
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table align="center">
    <tr>
        <td><img width="100%" src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.15752-9/70449543_729756914129617_5151916866163179520_n.png?_nc_cat=101&_nc_oc=AQleCGpnokCueU1zNW3enQaiWBvwe_ITdOyJGEKxEc2cb_eHSNVhK9a69l5Y9hAKDIsmZDv_Neu75-Hd-An-GsDg&_nc_ht=scontent.fbkk12-1.fna&oh=2e2f3d9ff99d2f46b17676ca54af380f&oe=5DFEF17A" /></td>
   
    </tr>
</table>

<table width="60%" align="center">
    <tr>
        <td style="font-size:17px; background-color:#EC808D; color:white;" class="w3-center">
            <b><p>เลือกโต๊ะ</p></b>

        </td>

        <td style="font-size:17px; background-color:#333; color:white;" class="w3-center">
            <p>เลือกอาหาร</p>
        </td>
        <td style="font-size:17px; background-color:#333; color:white;" class="w3-center">
            <p>ชำระเงิน</p>
        </td>
    </tr>

</table>


<form>


    <table width="60%" align="center">
        <tr>
            <td calspan="3" style="font-size:17px; background-color:lightgrey;" class="w3-center">







                
                <div class="w3-half w3-container">
                    <div style="background-color:#EC808D;" class="w3-row">

                        ผังร้าน

                    </div>
                    <div class="w3-row w3-white">



                        <div class="w3-cell-row">
                            <div class="w3-container w3-cell">
                                <input name="tableNo"  type="checkbox" id="cb1" value="T01"/>
                                <label for="cb1"><img width="100%" src="~/Content/images/T_1.png" /></label>

                            </div>
                            <div class="w3-container w3-cell">
                                <input name="tableNo"  type="checkbox" id="cb2" value="T02"/>
                                <label for="cb2"><img width="100%" src="~/Content/images/T_2.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo"  type="checkbox" id="cb3" value="T03"/>
                                <label for="cb3"><img width="100%" src="~/Content/images/T_3.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb4" value="T04"/>
                                <label for="cb4"><img width="100%" src="~/Content/images/T_4.png" /></label>
                            </div>


                        </div>


                        <div class="w3-cell-row">
                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb5" value="T05"/>
                                <label for="cb5"><img width="100%" src="~/Content/images/T_5.png" /></label>
                            </div>
                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb6" value="T06"/>
                                <label for="cb6"><img width="100%" src="~/Content/images/T_6.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb7" value="T07"/>
                                <label for="cb7"><img width="100%" src="~/Content/images/T_7.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb8" value="T08"/>
                                <label for="cb8"><img width="100%" src="~/Content/images/T_8.png" /></label>
                            </div>


                        </div>

                        <div class="w3-cell-row">
                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb9" value="T09"/>
                                <label for="cb9"><img width="100%" src="~/Content/images/T_9.png" /></label>
                            </div>
                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb10" value="T10"/>
                                <label for="cb10"><img width="100%" src="~/Content/images/T_10.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb11" value="T11"/>
                                <label for="cb11"><img width="100%" src="~/Content/images/T_11.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb12" value="T12"/>
                                <label for="cb12"><img width="100%" src="~/Content/images/T_12.png" /></label>
                            </div>


                        </div>

                        <div class="w3-cell-row">
                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb13" value="T13"/>
                                <label for="cb13"><img width="100%" src="~/Content/images/T_13.png" /></label>
                            </div>
                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb14" value="T14"/>
                                <label for="cb14"><img width="100%" src="~/Content/images/T_14.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb15" value="T15"/>
                                <label for="cb15"><img width="100%" src="~/Content/images/T_15.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb16" value="T16"/>
                                <label for="cb16"><img width="100%" src="~/Content/images/T_16.png" /></label>
                            </div>


                        </div>


                        <div class="w3-cell-row">
                            <div class="w3-container w3-cell ">
                                <input name="tableNo" type="checkbox" id="cb17" value="T17"/>
                                <label for="cb17"><img width="100%" src="~/Content/images/T_17.png" /></label>
                            </div>
                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb18" value="T18"/>
                                <label for="cb18"><img width="100%" src="~/Content/images/T_18.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb19" value="T19"/>
                                <label for="cb19"><img width="100%" src="~/Content/images/T_19.png" /></label>
                            </div>

                            <div class="w3-container w3-cell">
                                <input name="tableNo" type="checkbox" id="cb20" value="T20"/>
                                <label for="cb20"><img width="100%" src="~/Content/images/T_20.png" /></label>
                            </div>


                        </div>


                        <div style="background-color:#EC808D;" class="w3-half">

                            <div class="w3-container w3-cell ">
                                <img class="checkRedColor" width="30%" src="~/Content/images/T_Origin.png" /><b> : ไม่ว่าง</b>
                            </div>


                        </div>

                        <div style="background-color:#EC808D;" class="w3-half">

                            <div class="w3-container w3-cell ">
                                <img class="checkOrangeColor" width="30%" src="~/Content/images/T_Origin.png" /> <b>: จองแล้ว</b>
                            </div>


                        </div>



                    </div>






                </div>
                <div class="w3-half w3-container w3-lightgrey">


                    <div style="background-color:#EC808D;" class="w3-row">

                        เลือกวันเวลา

                    </div>

                    <!--selectTime-->
                    <!--Start of form search time-->
                  
                        <div class="w3-row w3-white w3-center w3-blue">
                            <br />
                            <center>
                                <div style="width:80%" class="w3-row w3-center">

                                    <b>วันที่จอง:</b> <input class="w3-input w3-border w3-round" type="date" id="DateIn"/>

                                </div>
                            </center>

                            <div style="width:100%" class="w3-row w3-center">
                                <center>
                                    <div style="width:80%;" class="w3-row">
                                        <b>เวลาเข้า:</b><input class="w3-input w3-border  w3-round" type="time" id="TimeIn"/>
                                    </div>


                                    <div style="width:80%;" class="w3-row ">
                                        <b> เวลาออก:</b><input class="w3-input w3-border  w3-round" type="time" id="TimeOut" />
                                    </div>
                                </center>
                            </div>

                            <br />
                           
                            <input type="submit" value="ค้นหา" class="w3-button w3-round w3-green" id="SearchTable" />
                            
                  <!--End of form search time-->

                    <br /><br />
                    <div style="background-color:#EC808D;" class="w3-row">

                        หมายเลขโต๊ะที่เลือก

                    </div>

                    <div class="w3-row w3-white">

                        <div class="w3-half">

                            <div class="w3-container w3-cell w3-hide-small">
                                <img width="60%" src="~/Content/images/T_Origin.png" />
                            </div>


                        </div>

                        <div class="w3-half">
                            <br />
                            <div class="w3-container w3-cell w3-left">
                                <b>
                                    <span id="table-total" ></span>
                                    
                                </b>
                            </div>


                        </div>

                        <br />
                        <br />

                        <div class="w3-container w3-cell w3-right">
                            
                            <input type="submit" value="ต่อไป" class="w3-button w3-round w3-blue" id="Conbtn"/>
                        </div>

                    </div>



                </div>




            </td>
        </tr>



    </table>
  


</form>

<style>
    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
    }

    input[type="checkbox"][id^="cb"] {
        display: none;
    }

    label {
       
        
        display: block;
        position: relative;
       
        cursor: pointer;
    }

        label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        label img {
            height: 100%;
            width: 100%;
            
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
        }

    :checked + label {
        border-color: #ddd;
    }

        :checked + label:before {
            content: "✓";
            background-color: forestgreen;
            transform: scale(1);
        }

        :checked + label img {
            transform: scale(0.9);
            border-radius:5px;
              box-shadow: 2px 2px 5px #EC808D;
            z-index: -1;
        }

    .checkRedColor {
        background-color: rgba(255, 0, 0, 0.7);
        border-radius: 20px;
    }

    .checkOrangeColor {
        background-color: rgba(255, 106, 0, 0.7);
        border-radius: 20px;
    }





</style>


<script type="text/javascript">

    $(document).ready(function () {
        $("input").click(function () {
            var favorite = [];
            $.each($("input[name='tableNo']:checked"), function () {
                favorite.push($(this).val());
            });
            document.getElementById("table-total").innerHTML = favorite.join(", ");
           
        });
    });

</script>
<script  type="text/javascript" >

    $(document).ready(function () {
        $('#SearchTable').click(function (event) {
            event.preventDefault();
            window.location.href = "@Url.Action("GetStatus" , "BookTable")" + "?DateIn=" + $('#DateIn').val() + "&TimeIn=" + $('#TimeIn').val() + "&TimeOut=" + $('#TimeOut').val();
        })


        $('#Conbtn').click(function (event) {

            var TableNo=[];
            $('input[name=tableNo]').each(function () {

                if ($(this).is(":checked")) {

                    TableNo.push("TableNo=" + $(this).val());
                }


            })

            var i = 0;
            //TableNo = TableNo.toString();
            TableNo = TableNo.join("&");
            TimeInNull = document.getElementById("TimeIn");
            TimeOutNull = document.getElementById("TimeOut");
            DateInNull = document.getElementById("DateIn");
            
            if (TableNo !== "") {
                if ((DateInNull != null && TimeInNull != null && TimeOutNull != null)) {
                    event.preventDefault();
                    window.location.href = "@Url.Action("OrderMenu" , "BookTable")" + "?DateIn=" + $('#DateIn').val() + "&TimeIn=" + $('#TimeIn').val() + "&TimeOut=" + $('#TimeOut').val() + TableNo;
                }
                
            } else {
                alert("Null");
            }
            
            

        });
    })



 </script>
<script type="text/javascript" >
    $("#searchTable").click(function () {

    

        $.ajax({

            url: '/BookTable/GetStatus?DateIn=' + document.getElementById('dateTable') + "&TimeIn=" + document.getElementById('TimeIn') + "&TimeOut" + document.getElementById('TimeOut'),
            type: 'GET',
            dataType: 'json',
            success: function () {
                alert("uuuu");
            }
        })

    });
</script>

